@charset "utf-8";

$prefix : cmn-; //前缀
$mainFontSize: 14px;
$largeFont: 16px;
$smallFont: 12px;

$mainGold: #535fab;
$lightGold: #F5F3EF;
$mainBlack: #333333;
$mainGary: #999999;
$deepGary: #666666;
$lightGary:#DDDDDD;
$white: #FFFFFF;
$red: #D4282D;
$blue:#2e82ff;
$orange:#ff7e00;
$green:#008000;
$purple:#8806aa;
$yellow:#FFFF00;
$gray:#999999;
$bgGray:#eeeeee;

$tableBorderColor:#DDDDDD;

$precent100:100%;
